.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/build

gradle.properties

# User-specific configurations
.idea/*
*.iml
/*/*.iml

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

